body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a1a2a2;
}
.abc{
    padding: 15px 25px;
    font-size: 20px;
    background-color: #08ff94;
    color: #fff;
    border: none;
    cursor: pointer;

}